<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/resources/js/jquery-1.12.4.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function() {
            jQuery("#submit").click(function() {
                console.log("Button clicked");
                let routeName = jQuery("#vehicleRegNumber").val();
                let cabRegNo = $("#vehicleRegNumber").val();
                let maxCapacity = parseInt($("#maxCapacity").val());
                let cabModel = $("#cabModel").val();
                let data = {
                    vehicleRegNo: cabRegNo,
                    capacity: maxCapacity,
                    cabModel: cabModel
                };
                let addRoutePath = "/cab/add?_csrf=" + [[${_csrf.token}]];
                jQuery.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    'type': 'POST',
                    'url': addRoutePath,
                    'data': JSON.stringify(data),
                    'dataType': 'json',
                    'success': function(data) {
                        console.log(data);
                    }
                });
            });
            /*]]>*/
        });
    </script>
</head>
<body>
<table layout:fragment="content">
    <tr>
        <td>Cab Reg No.</td>
        <td><input type="text" id="vehicleRegNumber"></td>
    </tr>
    <tr>
        <td>Cab Capacity</td>
        <td><input type="number" id="maxCapacity"></td>
    </tr>
    <tr>
        <td>Cab Model</td>
        <td><input type="text" id="cabModel"></td>
    </tr>
    <tr>
        <td><input type="button" value="Submit" id="submit"></td>
    </tr>
</table>
</body>
</html>