<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>


</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col-xs-12 col-sm-7">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Add Cab</h5>
                <div class="ibox-tools">
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Cab Reg No.</label>
                            <input class="form-control" type="text" id="vehicleRegNumber">
                        </div>

                        <div class="form-group">
                            <label>Cab Capacity</label>
                            <select class="form-control" name="cabType" id="cabType">
                                <option th:each="cabType : ${cabTypes}" th:value="${cabType}">
                                    <span th:text="${cabType.name}"></span>
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Cab Model</label>
                            <input class="form-control" type="text" id="cabModel">
                        </div>
                        <div>
                            <button type="button" id="submit" class="btn btn-sm btn-primary m-t-n-xs"><strong>Submit</strong></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-5">

    </div>
</div>

<th:block layout:fragment="post-common-scripts">
    <script>
        $(function() {
            jQuery("#submit").click(function() {
                $('#wrapper').addClass('sk-loading');
                console.log("Button clicked");
                let cabRegNo = $("#vehicleRegNumber").val();
                let cabType =  $("#cabType").val();
                let cabModel = $("#cabModel").val();
                let data = {
                    vehicleRegNo: cabRegNo,
                    cabType: cabType,
                    cabModel: cabModel
                };
                let addRoutePath = "/cab/add";
                jQuery.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    'type': 'POST',
                    'url': addRoutePath,
                    'data': JSON.stringify(data),
                    'dataType': 'json',
                    'success': function(data) {
                        $('#wrapper').removeClass('sk-loading');
                        toastr.options.progressBar = true;
                        window.location.href = "/";
                        toastr.success('Cab has been added');
                    },
                    error:function(){
                        $('#wrapper').removeClass('sk-loading');
                        toastr.options.progressBar = true;
                        toastr.error('failed','Please try after sometime')
                    }
                });
            });
        });
    </script>
</th:block>
</body>
</html>
