<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col-xs-12 col-sm-7">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Create Routes</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div>
                            <div class="form-group">
                                <label>Route Name</label>
                                <input type="text" id="routeName"
                                       th:disabled="${route != null && route.routeName != null}" th:value="${route != null && route.routeName != null}? ${route.routeName}:''"
                                       class="form-control">

                            </div>
                            <div class="form-group">
                                <label>Stops</label>
                                <div>
                                    <div class="input-group date addStop">
                                        <input type="text" id="stopName" class="form-control">
                                        <span class="input-group-addon no-padding">
                                              <button class="btn btn-success" type="button"
                                                      id="submitStop">Add Stop</button>
                                          </span>

                                    </div>
                                    <ul class="stopDetail" id="stops"><th:block th:if="${route != null && route.stops != null}"><li th:each="stop:${route.stops}"><span th:text="${stop}"></span></li></th:block></ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Cab</label>
                                <select name="cab" id="cab" class="form-control">
                                    <option th:each="cab : ${cabs}" th:selected="${route != null && route.cabRegId == cab.vehicleRegNumber}">
                                        <span th:text="${cab.vehicleRegNumber}" th:id="${cab.id}"></span>
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Zone</label>
                                <select name="zone" id="zone" class="form-control">
                                    <option th:each="zone : ${zones}" th:selected="${route != null && route.zoneName == zone.name}">
                                        <span th:text="${zone.name}" th:id="${zone.id}"></span>
                                    </option>
                                </select>
                            </div>

                            <div>
                                <button id="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-5">

    </div>
</div>
<th:block layout:fragment="post-common-scripts">
    <script src="/resources/js/jquery-ui.js"></script>
    <script>
        $(function() {
            let stops = $("#stops");
            stops.sortable();
            stops.disableSelection();

            $("#submitStop").click(function() {
                let stopNameElem = $("#stopName");
                let stopName = stopNameElem.val();
                stops.append(`<li>${stopName} <span class="removeStop"><i class="fa fa-times"></i></span></li>`);
                stopNameElem.val("");
                stops.sortable();
                stops.disableSelection();
            });

            stops.on('click', '.removeStop', function() {
                $(this).parent().remove();
            });

            jQuery("#submit").click(function() {
                $('#wrapper').addClass('sk-loading');
                let routeName = jQuery("#routeName").val();
                let cab = jQuery("#cab").val();
                let stopElemList = stops.children();
                let stopsList = $.map(stopElemList, function(stopElem) {
                    return stopElem.innerText.trim();
                });
                let cabRegNo = $("#vehicleRegNumber").val();
                let cabType = parseInt($("#cabType").val());
                let zoneName = $("#zone").val();
                let data = {
                    routeName: routeName,
                    stops: stopsList,
                    cabRegId: cab,
                    zoneName: zoneName
                };
                let addRoutePath = "/route/add";
                jQuery.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    'type': 'POST',
                    'url': addRoutePath,
                    'data': JSON.stringify(data),
                    'dataType': 'json',
                    'success': function(data) {
                        $('#wrapper').removeClass('sk-loading');
                        toastr.options.progressBar = true;
                        toastr.success('Route has been Added');
                        console.log(data);
                        window.location.href="/route"
                    },
                    'error':function(){
                        $('#wrapper').removeClass('sk-loading');
                        toastr.options.progressBar = true;
                        toastr.error('Request failed','Please try after sometime')
                    }
                });
            });
        });
    </script>
</th:block>

</body>
</html>