<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <title>Sign In</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div th:text="${cabRequest.zone.name}"></div>
    <div th:text="${cabRequest.requester.email}"> </div>
    <div th:text="${cabRequest.creationTime}"> </div>
    <div th:text="${cabRequest.cabRequestStatus}"> </div>
    <select id="route" name="route" >
        <option th:each="route : ${routes}"
                th:value="${route.id}" th:text="${route.routeName}">
        </option>
    </select>
    <button id="approve" value="Approve" th:attr="cab-request-id=${cabRequest.id}">Approve</button>
    <button id="reject" value="Reject" th:attr="cab-request-id=${cabRequest.id}">Reject</button>
</div>

<th:block layout:fragment="post-common-scripts">
    <script>
            jQuery(document).ready(function(){
                jQuery("#approve").click(function(){
                  var routeId = jQuery("#route").val();
                  var cabRequestId = jQuery(this).attr("cab-request-id");
                  jQuery.ajax({
                        url:"/approvePermanentRequest",
                        data:{
                             routeId: routeId,
                             cabRequestId: cabRequestId
                        },success:function(){
                            window.location.href="/adhocCabRequestsForApproval";
                        }
                  });
                });

                jQuery("#reject").click(function(){
                        var cabRequestId = jQuery(this).attr("cab-request-id");
                        jQuery.ajax({
                            url: "/rejectCabRequest",
                            data: {cabRequestId: cabRequestId},
                            success : function(){
                                window.location.href="/adhocCabRequestsForApproval";
                            }
                        });
                });


            });
    </script>
</th:block>

</body>
</html>