<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" href="/resources/css/jquery-ui.css">
        <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->
        <script src="/resources/js/jquery-1.12.4.js"></script>
        <script src="/resources/js/jquery-ui.js"></script>
        <script>
            $( function() {
                $( "#pickUpDate" ).datepicker();

                jQuery("#cabRequestType").change(function(){
                   console.log("<<<<<jQuery(this).val()>>>>>"+jQuery(this).val());
                   var cabRequest = jQuery(this).val();
                   if(cabRequest==="PERMANENT"){
                        jQuery("#route-td").show();
                        jQuery("#date-td").hide();
                   }else{
                        jQuery("#route-td").hide();
                        jQuery("#date-td").show();
                   }
                });

                jQuery("input[name='cancelCabRequest']").click(function(){
                    var cabRequestId = jQuery(this).attr("id");
                    jQuery.ajax({
                        url:"/cancelCabRequest",
                        data:{
                            cabRequestId: cabRequestId
                        },
                        success:function(data){
                            alert(data)
                        }
                    });
                });

                jQuery("#submit").click(function(){
                    var pickUpDate = jQuery("#pickUpDate").val();
                    var dropLocation = jQuery("#dropLocation").val();
                    var projectName = jQuery("#projectName").val();
                    var projectManager = jQuery("#projectManager").val();
                    var cabRequestType = jQuery("#cabRequestType").val();

                    jQuery.ajax({
                        url:"/cabRequestSubmission",
                        data:{
                            pickUpDate: pickUpDate,
                            dropLocation: dropLocation,
                            projectName: projectName,
                            projectManager: projectManager,
                            cabRequestType: cabRequestType
                        },
                        success:function(data){
                            console.log(data);
                        }
                    });
                });
            } );
        </script>
    </head>
    <body>
        <table>
            <tr>
                <td>Request Type</td>
                <td>
                    <select id="cabRequestType" name="cabRequestType" >
                        <option th:each="cabRequestType : ${cabRequestTypes}"
                            th:value="${cabRequestType}" th:text="${cabRequestType.getName()}"
                                th:selected="${cabRequestType.name.equals('Permanent')}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr id="date-td" hidden>
                <td>Select the Date</td>
                <td><input type="text" id="pickUpDate"></td>
            </tr>
            <tr id="route-td">
            <td>Route</td>
            <td>
                <select id="route" name="route" >
                    <option th:each="route : ${routeList}"
                            th:value="${route.id}" th:text="${route.name}">
                    </option>
                </select>
            </td>
            </tr>
            <tr>
                <td>Drop Location</td>
                <td><input type="text" id="dropLocation">  </td>
            </tr>
            <tr>
                <td>Pickup Location</td>
                <td><input type="text" id="pickupLocation"></td>
            </tr>
            <tr>
                <td>Project Name</td>
                <td><input type="text" id="projectName"></td>
            </tr>
            <tr>
                <td>Project Manager</td>
                <td><input type="text" id="projectManager"></td>
            </tr>
            <tr>
                <td><input type="button" value="Submit" id="submit"></td>
            </tr>
        </table>

        <table>
            <tr th:each="cabRequest : ${cabRequestList}">
                <td th:text="${cabRequest.dropLocation}"> </td>
                <td th:text="${cabRequest.projectName}"> </td>
                <td th:text="${cabRequest.dropLocation}"> </td>
                <td th:text="${cabRequest.managerName}"> </td>
                <td th:text="${cabRequest.cabRequestStatus}"></td>
                <td><input th:id="${cabRequest.id}" type="button" name="cancelCabRequest" value="Cancel"/></td>

            </tr>
        </table>

    </body>
</html>