<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
    <head>


    </head>
    <body>
    <div class="row" layout:fragment="content">
        <table>
            <tr>
                <td>Request Type</td>
                <td>
                    <select id="cabRequestType" name="cabRequestType" >
                        <option th:each="cabRequestType : ${cabRequestTypes}"
                            th:value="${cabRequestType}" th:text="${cabRequestType.getName()}"
                                th:selected="${cabRequestType.name.equals('Permanent')}">
                        </option>
                    </select>
                </td>
            </tr>
            <tr id="date-td" hidden>
                <td>Select the Date</td>
                <td><input type="text" id="pickUpDate"></td>
            </tr>
            <tr id="route-td">
            <td>Zone</td>
            <td>
                <select id="zone" name="zone" >
                    <option th:each="zone : ${zoneList}"
                            th:value="${zone.id}" th:text="${zone.name}">
                    </option>
                </select>
            </td>
            </tr>
            <tr>
                <td>Drop Location</td>
                <td><input type="text" id="dropLocation">  </td>
            </tr>
            <tr id="pickup-location-td" hidden>
                <td>Pickup Location</td>
                <td><input type="text" id="pickUpLocation"></td>
            </tr>
            <tr>
                <td><input type="button" value="Submit" id="submit"></td>
            </tr>
        </table>
    </div>
    <th:block layout:fragment="post-common-scripts">
        <script>
            $( function() {
                $( "#pickUpDate" ).datetimepicker();

                jQuery("#cabRequestType").change(function(){
                   var cabRequest = jQuery(this).val();
                   if(cabRequest==="PERMANENT"){
                        jQuery("#route-td").show();
                        jQuery("#date-td").hide();
                        jQuery("#pickup-location-td").hide();
                   }else{
                        jQuery("#route-td").hide();
                        jQuery("#date-td").show();
                        jQuery("#pickup-location-td").show();
                   }
                });

                jQuery("#submit").click(function(){
                    var pickUpDate = jQuery("#pickUpDate").val();
                    console.log("pickUpDate>>>>"+pickUpDate);
                    var dropLocation = jQuery("#dropLocation").val();
                    var projectName = jQuery("#projectName").val();
                    var projectManager = jQuery("#projectManager").val();
                    var cabRequestType = jQuery("#cabRequestType").val();
                    var pickUpLocation = jQuery("#pickUpLocation").val();
                    var zoneId = jQuery("#zone").val();
                    var data = {
                                    dropLocation: dropLocation,
                                    cabRequestType: cabRequestType,
                                    pickUpLocation: pickUpLocation
                                };

                   if(cabRequestType==="PERMANENT"){
                        data.zoneId = zoneId
                   }else{
                        data.travelDate = pickUpDate
                   }

                    jQuery.ajax({
                        url: "/cabRequestSubmission",
                        type: "Post",
                        data: data,
                        success:function(data){
                            jQuery("#pickUpDate").val("");
                            jQuery("#dropLocation").val("");
                            jQuery("#pickUpDate").val("");
                            jQuery("#pickUpLocation").val("");
                            alert("Request submitted successfully!!");
                        }
                    });
                });
            } );
        </script>
    </th:block>
    </body>
</html>