<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="/resources/css/bootstrap.css" rel="stylesheet" />
    <link href="/resources/css/style.css" rel="stylesheet" />
</head>
<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">
    <h1>403</h1>
    <h3 class="font-bold">Access Denied</h3>

    <div class="error-desc">
        Sorry, you're not authorized to view this page.
    </div>
</div>
</body>
</html>