<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Title</title>
</head>
<body>
Hello World spring mvc Thymleaf testing
<div>
    <ul>
        <li>
            <a th:href="@{/cabRequest}">Cab Request</a>
        </li>
        <li>
            <a th:href="@{/feedback}">Feedback</a>
        </li>
        <li>
            <a th:href="@{/permanentCabRequestsForApproval}">Permanent Cab Request for Approval</a>
        </li>
        <li>
            <a th:href="@{/adhocCabRequestsForApproval}"> Ad-hoc Cab Request for Approval</a>
        </li>
        <li>
            <a th:href="@{/approvedAdhocCabRequests}">Approved Ad-hoc Cab Requests</a>
        </li>
        <li>
            <a th:href="@{/route}">Route</a>
        </li>
        <li>
            <a th:href="@{/cab/add}">Add Cab</a>
        </li>
    </ul>
</div>
<div id="logout" style="float: right">
    <form method="post" th:action="@{/logout}" id="form-logout">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <input type="submit" id="logoutButton" value="logout">
    </form>

    <div th:text="${#authentication.name}">
        The value of the "name" property of the authentication object should appear here.
    </div>

    <div sec:authentication="name">
        The value of the "name" property of the authentication object should appear here.
    </div>
</div>
</body>
</html>