<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Title</title>
</head>
<body>
Hello World spring mvc Thymleaf testing
<div>
    <ul>
        <li>
            <a th:href="@{/cabRequest}">Cab Request</a>
        </li>
        <li>
            <a th:href="@{/feedback}">Feedback</a>
        </li>
        <li>
            <a th:href="@{/permanentCabRequestsForApproval}">Permanent Cab Request for Approval</a>
        <li>
        <li>
            <a th:href="@{/adhocCabRequestsForApproval}"> Ad-hoc Cab Request for Approval</a>
        </li>
    </ul>
</div>
<div id="logout" style="float: right">
    <form method="post" th:action="@{/logout}" id="form-logout">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <input type="submit" id="logoutButton" value="logout">
    </form>
</div>
</body>
</html>