<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <title>Newer List</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <div class="col-xs-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Manage Permissions</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>EmpId</th>
                            <th>Name</th>
                            <th>email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="requester : ${newers}">
                            <td th:text="${requester.newerId}"></td>
                            <td th:text="${requester.firstName+ ' ' +requester.lastName}"></td>
                            <td th:text="${requester.email}"></td>
                            <td>
                                <select th:id="${'selected-role-'+requester.newerId}"
                                        th:attr="data-id=${requester.newerId}" name="role">
                                    <option th:text="${requester.userRole.name}"></option>
                                    <option th:each="role : ${T(com.springmvc.enums.UserRole).listRolesExcept(requester.userRole)}"
                                            th:value="${role}" th:text="${role.getName()}"></option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="post-common-scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/
        jQuery("[id^=selected-role-]").on("change", function () {
            var selectedRole = $(this).find(":selected").val();
            var newerId = $(this).data("id");
            var baseUrl = /*[[@{/admin/updateRole}]]*/ '';
            console.log(baseUrl);
            var finalUrl = baseUrl + "/" + newerId;
            makePutCall(finalUrl, {role: selectedRole}, function (data) {
                console.log("Is Role Changed???? ", data);
            })
        });
        /*]]>*/
    </script>
</th:block>
</body>
</html>