<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <title>Manage Routes</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <button>Add New</button>
    <div>
        Crated on
    </div>
    <div>
        Route Name
    </div>
    <div>
        Zone
    </div>
    <div>
        Start point - end point
    </div>
    <div>
        Cab Name
    </div>
    <div>
        Route occupancy
    </div>

</div>

<th:block layout:fragment="post-common-scripts">
    <script>

    </script>
</th:block>

</body>
</html>
