<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mainLayout}">
<head>
    <title>Sign In</title>
</head>
<body>
<div class="row" layout:fragment="content">
    <table>
        <tr th:each="cabRequest :${cabRequestList}">
            <td th:text="${cabRequest.travelDate}"> </td>
            <td th:text="${cabRequest.requester.email}"> </td>
            <td th:text="${cabRequest.pickUpLocation}"> </td>
            <td th:text="${cabRequest.dropLocation}"> </td>
            <td th:text="${cabRequest.creationTime}"> </td>
            <td th:text="${cabRequest.details}"> </td>
            <td><input type="button" name="feedback" th:attr="request-id=${cabRequest.id}" value="Feedback"> </td>
        </tr>
    </table>
</div>

<th:block layout:fragment="post-common-scripts">
    <script>
    jQuery(document).ready(function(){
        jQuery("input[name='feedback']").click(function(){
            alert("Feedback");
        })
    });
    </script>
</th:block>

</body>
</html>